<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<div>
    <div id="page">
        <div id="left-part">
            <p id="health">HEALTH</p>
            <h1 id="header">New Quality of Service</h1>
            <pre id="text">Health is a complete, paperless office solution designed for chiropractic offices. It handles
billing, scheduling, treatment and care tracking, patient education and retention, clinic
reporting and much more.</pre>
        </div>
        <div id="right-part">
            <p id="sign-up-image"></p>
            <p id="Email">Email</p>
            <label>
                <input id="email-input" type="text" placeholder="Enter your Email">
            </label>
            <p id="password">Create Password</p>
            <label>
                <input id="password-input" type="text" placeholder="Create your password">
            </label>
            <p id="password-confirm">Confirm Password</p>
            <label>
                <input id="password-confirm-input" type="text" placeholder="Confirm your password">
            </label>
            <a id="sign-up-button" href=""></a>
            <a id="sign-in" href="signIn.html">Sign in</a>
        </div>
    </div>
</div>
</body>
</html>