<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div id="page">
  <div id="left-part">
    <p id="health">HEALTH</p>
    <h1 id="header">New Quality of Service</h1>
    <pre id="text">Health is a complete, paperless office solution designed for chiropractic offices. It handles
billing, scheduling, treatment and care tracking, patient education and retention, clinic
reporting and much more.</pre>
  </div>
  <div id="right-part">
    <p id="sign-in-image"></p>
    <p id="sign-in-email">Email</p>
    <label>
      <input id="signIn-email-input" type="text" placeholder="Enter your Email">
    </label>
    <p id="signIn-password">Password</p>
    <label>
      <input id="signIn-password-input" type="text" placeholder="Enter your password">
    </label>
    <a id="forgot-password" href="forgotPassword.html">Forgot password?</a>
    <a id="signIn-button" href=""></a>
    <a id="signUp" href="signUp.html">Sign up</a>
  </div>
</div>
</body>
</html>